$primary-color: #444;
$secondary-color: rgb(241, 246, 255);

@mixin transp{
    background-color: rgba($color: $secondary-color, $alpha: .4);
    width: 85%;
    padding: 1.7rem;
}

@mixin fieldUnderline{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background-color: transparent;
    border-bottom: 3px solid yellow;
    width: 100%;
    margin-bottom: 1.7rem;
    padding: 1rem 0;
    color:white;
    font-size: 1.7rem;
}

@mixin easeOut{
    transition: all 0.5s ease-out;
}

@mixin threadDisplay {
    .thread{
        padding: .3rem;
        height: 5rem;
        max-height: 5rem;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        &:hover{
            background: lighten($color: rgba($secondary-color, .4), $amount: 2)
        }
        img{
            width: 4.2rem;
            height: 4.2rem;
            border-radius: 2.5rem;
        }
        .info{
            color: $primary-color;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            margin-left: 1rem;
            .thread-title{
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
            .thread-footer{
                color: $secondary-color;
                font-size: .9rem;
                span{
                    margin-right: .7rem; 
                }
            }
        }
    }
}
@mixin mediaSm {
    @media screen and (max-width:500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width:768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width:769px) and (max-width:1170px) {
        @content;
    }
}
@mixin mediaXL {
    @media screen and (min-width:1171px) {
        @content;
    }
}