$primary-color: #444;
$secondary-color: rgb(241, 246, 255);

@mixin transp{
    background-color: rgba($color: $secondary-color, $alpha: .4);
    width: 70%;
    padding: 1.5rem;
}

@mixin fieldUnderline{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background-color: transparent;
    border-bottom: 3px solid yellow;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    color:white;
    font-size: 1.5rem;
}

@mixin easeOut{
    transition: all 0.5s ease-out;
}

@mixin item {
    position: relative;
    display: inline;
    padding: .5rem 1rem;
    background-color: $primary-color;
    color: $secondary-color;
    font-weight: bold;
    margin-left: 1rem;
    border-radius: 1rem;
}

@mixin displayButton{
    display: inline;
    text-decoration: none;
    color: $secondary-color;
    outline: none;
    &:visited,
    &:link{
        color: $secondary-color;
    }
}

@mixin deleteButton {
    visibility: hidden;
    background-color: $secondary-color;
    color: $primary-color;
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: 1rem;
    height: 1rem;
    padding: .1rem;
    border-radius: 1rem;
    &:hover{
        cursor: pointer;
        background-color: red;
    }
}

@mixin threadDisplay {
    .thread{
        padding: .3rem;
        height: 5rem;
        max-height: 5rem;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        &:hover{
            background: lighten($color: rgba($secondary-color, .4), $amount: 2)
        }
        img{
            width: 4.2rem;
            height: 4.2rem;
            border-radius: 2.5rem;
        }
        .info{
            width: 100%;
            color: $primary-color;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            margin-left: 1rem;
            .thread-title{
                text-decoration: none;
                &:link,
                &:visited{
                    color: darken($color: $primary-color, $amount: 15)
                }
                &:hover{
                    text-decoration: underline;
                }
                float: left;
            }
            //我的帖子的两个按钮的样式
            .edit-file{
                a{
                    text-decoration: none;
                    &:link,
                    &:visited{
                        color: darken($secondary-color, 10);
                    }
                }
            }
            .thread-footer{
                color: $secondary-color;
                font-size: .9rem;
                span{
                    margin-right: .7rem; 
                }
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
@mixin mediaSm {
    @media screen and (max-width:500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width:768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width:769px) and (max-width:1170px) {
        @content;
    }
}
@mixin mediaXL {
    @media screen and (min-width:1171px) {
        @content;
    }
}