@import "config";
@import "responsive";

*{
    margin: 0;
    padding: 0;
}
body{
    background: $primary-color;
}

// 导航栏样式
header{
    background-color: $primary-color;
    width: 100%;
    line-height: 3.5rem;
    text-align: center;
    .option{
        list-style: none;
        display: inline;
        color: $secondary-color;
        font-weight: bold;
        padding: 1rem 1.2rem;
        a{
            text-decoration: none;
            color: $secondary-color;
            &:hover{
                cursor: pointer;
                color: yellow;
            }
            &.active{
                color:yellow;
            }
        }
    }
    .user-in{
        display: '';
    }
    .user-out{
        display: none;
    }
    .menu-btn{
        position: absolute;
        z-index: 2;
        right: 2rem;
        top: 2rem;
        @include easeOut;
        &:hover{
            cursor: pointer;
        }
        .btn-line{
            width: 2rem;
            height: .2rem;
            background-color: $secondary-color;
            margin-bottom: .4rem;
            @include easeOut;
        }
        &.close{
            transform: rotate(180deg);
            .btn-line{
            //第一条线                
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            } 
            //第二条线                
            &:nth-child(2){
                opacity: 0;
            }
            //第三条线                
            &:nth-child(3){
                transform: rotate(-45deg) translate(8px, -8px);
            }
            }
        }
    }
    .menu{
        position: absolute;
        z-index: 1;
        opacity: .9;
        visibility: hidden;
        left: 0;
        top: 0;
        width: 100%;
        &.show{
            visibility: visible;
        }
        &-branding,
        &-nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            float: left;
            width: 50%;
            height: 100vh;
            overflow: hidden;
        }
        &-branding{
            img{
                &:hover{
                    cursor: pointer;
                    opacity: .8;
                }
            }
            background-color: darken($color: $primary-color, $amount: 10);
            transform: translate3d(0, 100%, 0);
            @include easeOut;
            &.show{
                transform: translate3d(0, 0, 0);
            }
            .change-avatar{
                
            }
        }
        &-nav{
            background-color: darken($color: $primary-color, $amount: 5);
            transform: translate3d(0, -100%, 0);
            @include easeOut;
            &.show{
                transform: translate3d(0, 0, 0);
            }
                .menu-item{
                    transform: translate3d(600px, 0, 0);
                    list-style: none;
                    a{
                        &:visited,
                        &:link{
                            color: $secondary-color;
                        }
                    }
                    @include easeOut;
                    &.show{
                        transform: translate3d(0, 0, 0);
                    }
                }
                @for $x from 1 through 4 {
                    .menu-item:nth-child(#{$x}){
                        transition-delay: $x * .1s;
                    }
                }
        }
    }

}

// body style
main{
    min-height: calc(100vh - 8rem);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //位置样式
    .location{
        @include transp;
        margin-bottom: 1rem;
    }
    // 首页样式
    .content{
        @include transp;
        @include threadDisplay;
    }
    // 帖子内容样式
    .post-content{
        @include transp;
        .post-header{
            color: $primary-color;
            margin-bottom: 1.6rem;
            .post-title{
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 1rem;

            }
            .post-info{
                color: $secondary-color;
            }
            
        }
        .post-body{
            border-top: 1px solid $primary-color;
            padding: 1rem 1.6rem;
            color: darken($color: $primary-color, $amount: 15);
            font-size: 1.7rem;
        }
        .post-footer{
            border-top: 1px solid $primary-color;
            padding-top: 1rem;
            text-align: center;
            font-size: 1.7rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .like{
                align-self: center;
                cursor: pointer;
                &:hover{
                    color: yellow;
                }
            }
            img {
                width: 3rem;
                height: 3rem;
                border-radius: 3rem;
            }
        }
    }
    //帖子回复样式
    .reply-content{
        @include transp;
        margin-top: 1rem;
        .reply-label{
            padding: .5rem 0;
            border-bottom: 1px solid $secondary-color;
        }
        .reply-list{
            textarea{
                @include fieldUnderline;
                height: 2rem;
                resize: vertical;
            }
            .reply-items{
                padding: 1rem;
                .reply-item{
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                padding: .3rem;
                margin-bottom: 1rem;
                .reply-avatar{
                    img{
                        width: 4rem;
                        height: 4rem;
                        border-radius: 2rem;

                    }
                }
                .reply-info{
                    width: 100%;
                    padding: 0 1rem;
                    .reply-header{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        .user-name{
                            color: $primary-color;
                            font-size: 1rem;
                            font-weight: bold;
                            margin-right: .5rem;
                        }
                        .date{
                            color: lighten($color: $primary-color, $amount: 2);
                            font-size: .9rem;
                        }
                        .reply-button{
                            &:visited,
                            &:link{
                                color: lighten($primary-color, 10);
                                outline: none;
                            }
                            &:hover{
                                color: $primary-color;
                            }
                        }
                    }
                    .reply-body{
                        padding: 1rem 0;
                        .replied-show{
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            background-color: darken($color: $secondary-color, $amount: 1);
                            padding: .5rem;
                            opacity: .7;
                            margin-bottom: 1rem;
                            .avatar{
                                img{
                                    width: 2rem;
                                    height: 2rem;
                                    border-radius: 1rem;
                                }
                            }
                            .name{
                                margin-left: .5rem;
                                color: lighten($color: $primary-color, $amount: 10);
                            }
                            .info{
                                margin-left: 1rem;
                            }
                        }
                    }
                }
                }
            }
            .reply-form{
                padding: .2rem 2rem;
                .reply-form-submit-button{
                    text-decoration: none;
                    background-color: $primary-color;
                    padding: .5rem .8rem;
                    border-radius: .2rem;
                    :hover{
                        cursor: pointer;
                    }
                    &:link,
                    &:visited{
                        color: $secondary-color;
                    }
                }
            }
        }

    }


    // 帖子创建页样式
    .create-content{
        @include transp;
        form{
            padding: 1rem;
            .title-field, .body-field{
                @include fieldUnderline;
            }
            .body-field{
                font-size: 1.1rem;
                min-height: 18rem;
                resize: vertical;
            }
            .submit-button{
                background-color: transparent;
                padding: 1rem;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .show-markdown-content-area{
            color: $secondary-color;
            word-break: break-all;
            word-wrap: break-word;
            font-size: 1.1rem;
            padding: 1rem;
        }
        .create-button{
            text-decoration: none;
            color: $secondary-color;
            font-size: 1.3rem;
            background-color: $primary-color;
            padding: .5rem 1rem;
            border-radius: 1rem;
            &:hover{
                background-color: lighten($color: $primary-color, $amount: 10)
            }
            &:link,
            &:visited{
                text-decoration: none;
                outline: none;
            }
        }
    }
    // e登录页样式
    .login-content{
        @include transp;
        .login-username, .login-password{
            @include fieldUnderline;
        }
    }
    //profile样式
    .profile-content{
        width: 85%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: center;
        .profile-list{
            @include transp;
            width: 25%;
            height: 30rem;
            margin-right: 3rem;
            text-align: center;
            .profile-avatar{
                margin-bottom: 1rem;
                img{
                    border: 1px solid $secondary-color;
                    padding: 2px;
                    width: 10rem;
                    height: 10rem;
                }
            }
            .profile-items{
                list-style: none;
                line-height: 2rem;
                .add-user-page,
                .show-user-page,
                .set-tags-page,
                .add-user-group-page,
                .show-user-group-page{
                    display: none;
                    font-weight: bold;
                }
                .profile-item{
                    a{
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                        &:link,
                        &:visited{
                            color: $secondary-color;
                        }
                    }
                }
            }

        }
        .list-content{
            @include transp;
            width: 60%;
            min-height: 30rem;
            //我的帖子页样式
            @include threadDisplay;
            .forums-set-area,
            .tag-groups-set-area,
            .tags-set-area{
                display: none;
            }
            //个人资料样式
            .user-info{
                line-height: 3.5rem;
            }
            //板块标签页样式
            .forums-section{
                margin-bottom: 5rem;
                .forums-area{
                    color: $primary-color;
                    margin-bottom: 2rem;
                    .forum-item{
                        @include item;
                    .forum-display-button{
                        @include displayButton;
                    }
                    .forum-delete-button{
                        @include deleteButton;
                    }
                    }
                }
            }
            //板块，标签组，标签添加按钮样式
            .forum-add-button,
            .tag-group-add-button,
            .tag-add-button{
                margin-left: 1rem;
                text-decoration: none;
                font-weight: bold;
                &:link,
                &:visited{
                    color: $secondary-color;
                }
                &:hover{
                    color: rgb(6, 119, 211);
                }
                outline: none;
            }
            //标签组标签页样式
            .tag-groups-section{
                margin-bottom: 5rem;
                .tag-groups-area{
                    color: $primary-color;
                    margin-bottom: 2rem;
                    .tag-groups-item{
                        @include item;
                    .tag-groups-display-button{
                        @include displayButton;
                    }
                    .tag-groups-delete-button{
                        @include deleteButton;
                    }
                    }
                }
            }
            //标签组标签页样式
            .tags-section{
                margin-bottom: 5rem;
            .tags-area{
                color: $primary-color;
                margin-bottom: 2rem;
                .tags-item{
                    @include item;
                .tags-display-button{
                    @include displayButton;
                }
                .tags-delete-button{
                    @include deleteButton;
                }
                }
            }
            }
            hr{
                margin: .5rem 0;
            }
            //添加用户样式
            .add-user-form{
                padding: 1rem 2rem;
                form{
                    input{
                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3),{
                            display: block;
                            width: 100%;
                            margin-bottom: 1rem;
                            border-radius: .5rem;
                            height: 2rem;;
                            padding: .2rem .5rem;
                            background-color: darken($color: $primary-color, $amount: 10);
                            opacity: .7;
                            color: lighten($secondary-color, 10);
                            font-size: 1.5rem;
                        }
                    }
                    button{
                        display: block;
                        width: 100%;
                        border-radius: .5rem;
                        height: 2rem;;
                        padding: .2rem .5rem;
                        margin-top: 1rem;
                        background-color: lightgreen;
                        color: $primary-color;
                        font-size: 1rem;
                        font-weight: bold;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
            //添加用户组样式
            .add-user-group-form{
                width: 100%;
                form{
                    input{
                        &:nth-child(1){
                            width: 100%;
                            display: block;
                            margin-bottom: 1rem;
                            border-radius: .5rem;
                            height: 2.5rem;
                            background-color: darken($color: $primary-color, $amount: 10);
                            opacity: .7;
                            color: lighten($secondary-color, 10);
                            font-size: 1.5rem;
                            padding: 0 .3rem;
                        }
                    }
                    button{
                        display: block;
                        width: 100%;
                        border-radius: .5rem;
                        height: 2rem;;
                        padding: .2rem .5rem;
                        margin-top: 1rem;
                        background-color: lightgreen;
                        color: $primary-color;
                        font-size: 1rem;
                        font-weight: bold;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }

            //用户标签组样式
            .user-group-list,
            .user-list{
                width: 100%;
                margin-bottom: 1rem;
                padding: 1rem 0;
            }
            .user-group-list{
                .delete-group-button{
                    &:hover{
                        cursor: pointer;
                        color: #CE5748;
                    }
                }
                    .show-group-users{
                        &:hover{
                            cursor: pointer;
                            color: #4892CE;
                        }
                    }
            }
            .user-list{
                .add-to-group,
                .rm-from-group{
                    border-radius: .5rem;
                    padding: .3rem 0;
                    color: $secondary-color;
                    display:block;
                    background-color:#4892CE;
                    margin-bottom: 1rem;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .rm-from-group{
                    background-color:#CE5748;
                }
            }

            //查看用户样式
            .show-users{
                padding: .2rem .2rem;
                .user-item{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    padding: .3rem;
                    margin-bottom: 1rem;
                    .avatar{
                        img{
                            width: 5rem;
                            height: 5rem;
                            border-radius: 2.5rem;
                        }
                    }
                    .info{
                        line-height: 2rem;
                        border-left: 1px dotted $primary-color;
                        border-right: 1px dotted $primary-color;
                        margin: 0 1rem;
                        span{
                            margin: .5rem;
                        }
                    }
                    .setting{
                        word-break: keep-all;
                        span{
                            &:hover{
                                cursor: pointer;
                                color: rgb(245, 35, 35);
                            }
                        }
                    }
                }
            }
        }
    }
}
.tag-field{
    font-size: .7rem;
    padding: .3rem 1rem;
    .tag{
        background-color: $primary-color;
        color: $secondary-color;
        padding: .3rem 1rem;
        margin-right: 1rem;
        border-radius: .5rem;
        a{
            color:$secondary-color;
            text-decoration: none;
            &:link,
            &:visited{
                color: $secondary-color;
            }
        }

        &:hover{
            background-color: lighten($color: $primary-color, $amount: 15)
        }
    }
}
// 页脚样式
footer{
    background-color: $primary-color;
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div{
        color: $secondary-color;
    }
}




