@import "config";

*{
    margin: 0;
    padding: 0;
}
body{
    background: $primary-color;
}

// 导航栏样式
header{
    background-color: $primary-color;
    width: 100%;
    line-height: 3.5rem;
    text-align: center;
    .option{
        list-style: none;
        display: inline;
        color: $secondary-color;
        font-weight: bold;
        padding: 1rem 1.2rem;
        a{
            text-decoration: none;
            color: $secondary-color;
            &:hover{
                cursor: pointer;
                color: yellow;
            }
            &.active{
                color:yellow;
            }
        }
    }
    .user-in{
        display: '';
    }
    .user-out{
        display: none;
    }
    .profile-btn{
        position: absolute;
        z-index: 2;
        right: 2rem;
        top: 2rem;
        @include easeOut;
        &:hover{
            cursor: pointer;
        }
        .btn-line{
            width: 2rem;
            height: .2rem;
            background-color: $secondary-color;
            margin-bottom: .4rem;
        }
        &.close{
            transform: rotate(180deg);
            .btn-line{
            //第一条线                
            &:nth-child(1){
                transform: rotate(45deg) translate(5px, 5px);
            } 
            //第二条线                
            &:nth-child(2){
                opacity: 0;
            }
            //第三条线                
            &:nth-child(3){
                transform: rotate(-45deg) translate(8px, -8px);
            }
            }
        }
    }
    .profile{
        position: absolute;
        z-index: 1;
        opacity: .9;
        visibility: hidden;
        left: 0;
        top: 0;
        width: 100%;
        &.show{
            visibility: visible;
        }
        &-branding,
        &-nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            float: left;
            width: 50%;
            height: 100vh;
            overflow: hidden;
        }
        &-branding{
            background-color: lighten($color: $primary-color, $amount: 15);
            transform: translate3d(0, 100%, 0);
            @include easeOut;
            &.show{
                transform: translate3d(0, 0, 0);
            }
        }
        &-nav{
            background-color: lighten($color: $primary-color, $amount: 50);
            transform: translate3d(0, -100%, 0);
            @include easeOut;
            &.show{
                transform: translate3d(0, 0, 0);
            }
                .nav-item{
                    transform: translate3d(600px, 0, 0);
                    @include easeOut;
                    &.show{
                        transform: translate3d(0, 0, 0);
                    }
                }
                @for $x from 1 through 4 {
                    .nav-item:nth-child(#{$x}){
                        transition-delay: $x * .1s;
                    }
                }
        }
    }

}

// body style
main{
    min-height: calc(100vh - 8rem);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //位置样式
    .location{
        @include transp;
        margin-bottom: 1rem;
    }
    // 首页样式
    .content{
        @include transp;
        .thread{
            padding: .3rem;
            height: 5rem;
            max-height: 5rem;
            margin: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: nowrap;
            &:hover{
                background: lighten($color: rgba($secondary-color, .4), $amount: 2)
            }
            img{
                width: 4.2rem;
                height: 4.2rem;
                border-radius: 2.5rem;
            }
            .info{
                color: $primary-color;
                font-weight: bold;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                margin-left: 1rem;
                .thread-title{
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .thread-footer{
                    color: $secondary-color;
                    font-size: .9rem;
                    span{
                        margin-right: .7rem; 
                    }
                }
            }
        }
    }
    // 帖子内容样式
    .post-content{
        @include transp;
        .post-header{
            color: $primary-color;
            margin-bottom: 1.6rem;
            .post-title{
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 1rem;

            }
            .post-info{
                color: $secondary-color;
            }
            
        }
        .post-body{
            border-top: 1px solid $primary-color;
            padding: 1rem 1.6rem;
            color: darken($color: $primary-color, $amount: 15);
            font-size: 1.7rem;
        }
        .post-footer{
            border-top: 1px solid $primary-color;
            padding-top: 1rem;
            text-align: center;
            font-size: 1.7rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .like{
                align-self: center;
                cursor: pointer;
                &:hover{
                    color: yellow;
                }
            }
            img {
                width: 3rem;
                height: 3rem;
                border-radius: 3rem;
            }
        }
    }
    // 帖子创建页样式
    .create-content{
        @include transp;
        form{
            padding: 1rem;
            .title-field, .body-field{
                @include fieldUnderline;
            }
            .body-field{
                font-size: 1.1rem;
                min-height: 18rem;
                resize: vertical;
            }
            .submit-button{
                background-color: transparent;
                padding: 1rem;
                font-size: 1rem;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .show-markdown-content-area{
            color: $secondary-color;
            word-break: break-all;
            word-wrap: break-word;
            font-size: 1.1rem;
            padding: 1rem;
        }
        .create-button{
            text-decoration: none;
            color: $secondary-color;
            font-size: 1.3rem;
            background-color: $primary-color;
            padding: .5rem 1rem;
            border-radius: 1rem;
            &:hover{
                background-color: lighten($color: $primary-color, $amount: 10)
            }
            &:link,
            &visited{
                text-decoration: none;
                outline: none;
            }
        }
    }
    // e登录页样式
    .login-content{
        @include transp;
        .login-username, .login-password{
            @include fieldUnderline;
        }
    }
    //profile样式
    .profile-content{
        @include transp;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .profile-list{
            background-color: lighten($color: $secondary-color, $amount: .5);
            width: 20rem;
            height: 30rem;
            margin-right: 3rem;
            img{
                width: 7rem;
                height: 7rem;
            }
        }
        .list-content{
            background-color: lighten($color: $secondary-color, $amount: .5);
            width: 50rem;
            height: 30rem;
        }
    }
}
.tag-field{
    font-size: 1rem;
    padding: .3rem 1rem;
    .tag{
        background-color: $primary-color;
        color: $secondary-color;
        padding: .3rem 1rem;
        margin-right: 1rem;
    }
}
// 页脚样式
footer{
    background-color: $primary-color;
    height: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div{
        color: $secondary-color;
    }
}




